<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="discordDomains" value="discord-attachments-uploads-prd.storage.googleapis.com
			 dis.gd
			 discord.co
			 discord.com
			 discord.design
			 discord.dev
			 discord.gg
			 discord.gift
			 discord.gifts
			 discord.media
			 discord.new
			 discord.store
			 discord.tools
			 discordapp.com
			 discordapp.net
			 discordmerch.com
			 discordpartygames.com
			 discord-activities.com
			 discordactivities.com
			 discordsays.com
			 discordstatus.com
			 discord.com
			 discord.gg
			 discordapp.com
			 discord-attachments-uploads-prd.storage.googleapis.com
			 dis.gd
			 discordstatus.com
			 discord.media
			 discordapp.net
			 discordcdn.com
			 discord.dev
			 discord.new
			 discord.gift
			 discord.co"/>
		<add key="youtubeDomains" value="googlevideo.com
			 youtubei.googleapis.com
			 i.ytimg.com"/>
	</appSettings>
</configuration>